/*------------------------------------*\
	CONTENTS
\*------------------------------------*/
/*
    LOGIN
*/

/*------------------------------------*\
	LOGIN 
\*------------------------------------*/
.loginContainer {
    margin-top: 60px;
        
    label {
        font-size: 16px;
        font-weight: normal;
        font-family: $source-sans;
    }

    form {
        padding-top: 40px;
        text-align: left;
        
        .checkbox {
            padding-left: 20px;
            margin: 0 !important;
        }
    }

}

/* button google plus */
.btnGooglePlus {
    background: #DF4B38 !important;
}

/* button twitter */
.btnTwitter {
    background: #2AA9E0 !important;
}

/* button facebook */
.btnFacebook {
    background: #3C599F !important;
}

/* background color for login button */
.btnLogin {
    background: #099A8C !important;
}

