/*------------------------------------*\
	CONTENTS
\*------------------------------------*/
/*
DEFAULT STYLES
*/

/*------------------------------------*\
	DEFAULT STYLES
\*------------------------------------*/
body {
    text-align: center;
    background: #E5E9EC;
}
/* alter bootstrap buttons borders */
.btn {
    border: 0;
    @include border-radius(3px);
    padding: 12px 14px;
    
    i {
        margin-right: 5px;
    }
}
.form-control {
   padding: 11px 16px;
   @include border-radius(3px);
   height: 48px;
   font-size: 16px;
   font-family: $source-sans;
}

/* titles */
h1, h2, h3, h4, h5, h6 {
    font-family: $source-sans;
    font-weight: normal !important;
    color: $title-color;
}

/* errors in forms */
label.error {
    color: #FF0000;
    margin-top: 5px;
    font-weight: normal;
}

.checkbox {
    display: inline-block;
}

/* upload */
.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}
